body{
    background-color: rgb(242, 242, 242)
}

.QTop{
    background-color: #444444;
    color: #858586;
    height: 40px;
    padding-right: 10%;
}

.QTopText{
    font-size: 15px;
    float: right;
    transform: translateY(50%);
}

.QLogo{
    height: 40px;
}

.QTitle{
    display: table-cell;
    vertical-align: middle;
    color:white;
    text-align: center;
    text-decoration: none;
}

.QTitle:hover{
    color:#858586;
}

.QTitle:active{
    color:#858586;
}

.QTitleIsOn{
    display: table-cell;
    vertical-align: middle;
    color:#858586;
    text-align: center; 
    text-decoration: none;
}

.QTitlePanel{
    display: table;
    background-color: rgba(50, 50, 50, 128);
    color: white;
    text-align: center;
    height: 40px;
    width: 100%;
}

.QBannerPanel{
    text-align: center;
}

.QImageBoxList{
    list-style: none;
    float: left;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.QImageBox{
    /* text-align: center; */
}

.QImageBoxItem{

}

.QImage{

}

.QImageBoxTitle{
    text-align: center;
    text-decoration: none;
}

.QImageBoxSp{
    text-align: center;
    text-decoration: none;
}

.QCopyRight{
    color: rgb(152, 152, 152);
    /* background-color: #282828; */
    text-align: center;
    clear: left;
    padding: 5px;
}