/* common 部分 */
/* common 部分 */
/* common 部分 */

.container-full {
    /* margin: 0 auto; */
    overflow: hidden;
    width: 100%;
}

.thin {
    font-weight: 300;
}

/* carousel-indicators */
.carousel-indicators-dark li {
    margin-left: 5px;
    margin-right: 5px;
    outline-style: solid;
    outline-width: 2px;
    padding-top: 2px;
    outline-color: rgba(0, 0, 0, 0.192);
    background: rgba(0, 0, 0, 0);
}

.carousel-indicators-dark .active {
    outline-width: 3px;
    outline-color: rgba(0, 0, 0, 0.062);
    background: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
    .carousel-indicators-dark{
        bottom:-10px;
    }

    .carousel-indicators-dark li {
        width: 20px;
        outline-width: 1.5px;
        padding-top: 1.5px;
    }

    .carousel-indicators-dark .active {
        outline-width: 2px;
    }
}

.screenshot {
    position: absolute;
    overflow: visible;
    top: 0px;
    left: 0px;
    z-index: -1000;
}
